
body {
  background: #001;
  color: white;
  font-family: 'Blex', 'Courier New', Courier, monospace;
  margin: 0;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.section {
  position: relative;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}





 /*
 // TOP SECTION:
 // "GREETER"
 */

.section#sectionGreeter {
  height: 100%;
}

#centerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(0deg);
  display: inline-grid;
}

#logoBox {
  position: relative;
  display: inline-grid;
}

#centerBox .row {
  position: relative;
  display: inline-block;
}

#logoBox .pixel {
  position: relative;
  height: 16px;
  width: 16px;
  float: left;
  cursor: default;
  overflow: hidden;
}

#logoBox .pixel span, #logoBox .pixel.active:hover span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  font-weight: normal;
  transform: translate(-50%,-50%) rotate(0deg);
  opacity: 0.25;
  transition: all 200ms;
}

#logoBox .pixel.active span, #logoBox .pixel:hover span {
  font-weight: bold;
  transform: translate(-50%,-50%) rotate(45deg);
  opacity: 1;
}

#linkBox {
  display: flex;
  padding: 16px;

	justify-content: space-around;
	align-items: center;
}

#linkBox > * {
  color: #FFFFFF;
  padding: 16px;
  opacity: 0.25;
  transition: all 200ms;
}

#linkBox > *:hover {
  color: #FFFFFF;
  opacity: 0.9;
}





  /*
  // SECTION:
  // "INFORMATION"
  */

#sectionInformation {
  position: relative;
  /* Potential section-specific adjustments here ;) */
}

#sectionInformation .aboutBar {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  max-width: 2000px;
  height: 90px;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#sectionInformation .biography {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 80%;
}

.biography {
  width: 800px;
  padding: 20px;
  font-size: 14px;
}

.biography p {
  display: block;
}

.biography p.wyrm {
  opacity: 0.8;
}

.biography p.othr {
  font-style: italic;
  opacity: 0.4;
}

#sectionInformation a {
  display: inline-block;
  position: relative;
  color: #2DF;
  font-style: italic;
  text-decoration: none;
  transition: 200ms;
}

#sectionInformation a::before {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #2DF;
  z-index: -1;
  border-radius: 2px;
  opacity: 1;
  transition: 200ms;
}

#sectionInformation a:hover::before {
  height: 100%;
  opacity: 0.25;
}








#crypto {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#crypto h1 {
  color: #AAA;
  font-family: 'Blex', 'IBM Plex Mono', 'Courier New', Courier, monospace;
}

#crypto h1::before {
  content: "#";
  opacity: 0.25;
  margin-right: 4px;
}

#crypto p {
  margin: 8px 0;
  font-size: 12px;
  padding: 2px 8px;
  color: #AAA;
  font-family: 'Blex', 'IBM Plex Mono', 'Courier New', Courier, monospace;
  border-radius: 4px;
  border: solid 1px #444;
}

#crypto p:before {
  font-weight: bold;
  border-right: solid 1px #AAA;
  padding-right: 8px;
  margin-right: 8px;
}

#crypto p.BTC:before {content: "BTC";}
#crypto p.BCH:before {content: "BCH";}
#crypto p.ETH:before {content: "ETH";}
#crypto p.ETC:before {content: "ETC";}
#crypto p.LTC:before {content: "LTC";}
#crypto p.LTC:after  {content: "########"; color: #444; filter: blur(1px);}